{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 5%",
            "Explorer >= 9",
            "Android >= 4"
          ]
        }
      }
    ]
  ]
}